﻿@{
    ViewBag.Title = "Main Page";
}

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-chirps.js"></script>
    <script src="~/js/chirpsController.js"></script>
}

<div class="row" ng-app="app-chirps">
    <div class="col-md-12" ng-controller="chirpsController as vm">
        <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        <div id="chirp-form" class="container-fluid">
            <form novalidate name="newChirpMessageForm" ng-Submit="vm.addChirpMessage()">
                <h4> @@@User.Identity.Name says </h4>
                <div class="form-group">
                    <textarea id="chirpMessageText" class="form-control " maxLength="200" rows="3" placeholder="Say something"
                              ng-model="vm.newChirpMessage.message" required></textarea>
                </div>
                <input class="btn submit-btn pull-right" type="submit" value="Chirp!" ng-disabled="newChirpMessageForm.$invalid" />
            </form>
        </div>
        <h4>Chirp Feed</h4>
        <div ng-show="vm.isBusy" class="text-center"><i class="fa fa-refresh fa-spin"></i> Loading...</div>
        <div ng-hide="vm.isBusy" id="post-stream" class="container-fluid">
            <div class='post' ng-repeat="chirpMessage in vm.chirpMessages | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                <p>{{chirpMessage.message}}</p>
                <small>Posted by @@{{chirpMessage.user.userName}}</small>
                <small class="pull-right">{{chirpMessage.postTime | date:"h:mma 'on' MMM d, y"}}
            </div>
        </div>
    </div>
</div>

